<?php $this->headTitle($this->alt . ' - Alt'); ?>
<h1>Alt <?php echo $this->alt ?></h1>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover class-table">
                <thead>
                <tr class="cell-highlight">
                    <th>Value</th>
                    <th style="width: 80%">Description</th>
                </tr>
                </thead>
                <tbody>
                    <?php foreach($this->values as $value => $label): ?>
                    <tr>
                        <td>
                            <strong><?php echo $value ?></strong>
                        </td>
                        <td>
                            <?php echo $label ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>


