<?php $this->headTitle('Docs'); ?>
<h1>Classes</h1>
<p>
    The full URI of each class is defined by a prefix <strong>http://tun.fi/</strong>
    followed by the class name. For example, the URI of class
    <strong>MY.collection</strong> is <strong>http://tun.fi/MY.collection</strong>.
</p>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover class-table">
                <thead>
                <tr class="cell-highlight">
                    <th>NS</th>
                    <th>Class name</th>
                    <th style="width: 80%">Description</th>
                </tr>
                </thead>
                <tbody>
                    <?php foreach($this->classes as $class => $data):
                        $parts = preg_split("/[:\.]/", $class, 2);
                        if (!isset($parts[1])) {
                            $parts[1] = $parts[0];
                            $parts[0] = '';
                        }
                        ?>
                    <tr>
                        <td style=""><?php echo $parts[0] ?></td>
                        <td>
                            <strong><a href="?class=<?php echo $class ?>"><?php echo $parts[1] ?></a></strong>
                        </td>
                        <td>
                           <?php echo $data['label'] ?><br>
                           <?php echo $data['comment'] ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>


