<?php $this->headTitle($this->class . ' - Class'); ?>
<h1>Class <?php echo $this->escapeHtml($this->class)?></h1>
<p><strong><?php echo $this->classData['label'] ?></strong></p>
<p><?php echo $this->classData['comment'] ?></p>
<p>
    The full URI of each property is defined by a prefix <strong>http://tun.fi/</strong>
    followed by the property name. For example, the URI of property
    <strong>MY.notes</strong> is <strong>http://tun.fi/MY.notes</strong>.
</p>
<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover class-table">
                <thead>
                    <tr class="cell-highlight">
                        <th>NS</th>
                        <th>Property name</th>
                        <th>Accepted values</th>
                        <th style="width: 60%">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->properties as $property => $data):
                        $parts = preg_split("/[:\.]/", $property, 2);
                        if (!isset($parts[1])) {
                            $parts[1] = $parts[0];
                            $parts[0] = '';
                        }
                        ?>
                        <tr class="<?php echo $property ?>">
                            <td>
                                <?php echo $parts[0] ?>
                            </td>
                            <td>
                                <a class="anchor" name="<?php echo $property ?>"></a>
                                <strong><a class="property-link" href="#<?php echo $property ?>"><?php echo $parts[1] ?></a></strong>
                            </td>
                            <td>
                                <?php if($data['many']): ?>
                                    Array of
                                <?php endif?>
                                <?php if (!empty($data['type-link'])): ?>
                                    <a href="<?php echo $data['type-link']?>"><?php echo $data['type'] ?></a>
                                <?php else: ?>
                                    <?php echo $data['type'] ?>
                                <?php endif ?>
                            </td>
                            <td>
                                <strong><?php echo $data['label'] ?></strong>
                                <?php if ($data['required']): ?>
                                    <span class="label label-danger">required</span>
                                <?php endif; ?>
                                <br>
                                <?php echo $data['description'] ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<?php $this->inlineScript()->captureStart();?>
var hashChange = function() {
    $('.target-highlight').removeClass('target-highlight');
    if(window.location.hash) {
        var target = window.location.hash.replace('#','').replace('.','\\.').replace(':','\\:');
        $('.' + target + ' td').addClass('target-highlight')
    }
};
hashChange();
setTimeout(function() {
    $('.anchor').remove(); // quit jumping after the initial page load
}, 500);

$(window).on('hashchange', function() {
    hashChange();
});

$('.class-table').on('click', '.property-link', function() {
    event.preventDefault();
    window.location.replace($(this).attr('href'));
});

<?php $this->inlineScript()->captureEnd();?>

