<?php $this->headTitle('Home'); ?>

<div class="row">
    <div class="col-sm-12">
        <h1>Welcome to schema.laji.fi</h1>
        <p>
            These pages document the vocabulary used in the data management of the Finnish Biodiversity Information
            Facility (FinBIF). The FinBIF ontology, i.e. all classes and their properties, are described according to
            the specifications of the Resource Description Framework.
        </p>
        <p>
            For further information of the Finnish Biodiversity Information Facility, see <a href="http://laji.fi">http://laji.fi</a>.
        </p>
        <p>
            <a href="/docs">List of classes</a>
        </p>
    </div>
</div>
