<?php $this->headTitle('Search');
$classCount = count($this->results['classes']);
$propertyCount = count($this->results['properties']);
$typeCount = count($this->results['types']);
?>
<h1>Search results for "<?php echo $this->escapeHtml($this->query)?>"</h1>
<p>
    <?php  if($classCount == 0
        && $propertyCount == 0
        && $typeCount == 0): ?>
        no results
    <?php else: ?>
        found
        <?php if ($classCount): ?>
            <a class="result-link" href="#classes"><?php echo $classCount ?> classes</a>,
        <?php else: ?>
            <?php echo $classCount ?> classes,
        <?php endif ?>
        <?php if ($propertyCount): ?>
            <a class="result-link" href="#properties"><?php echo $propertyCount ?> properties</a>,
        <?php else: ?>
            <?php echo $propertyCount ?> properties,
        <?php endif ?>
        <?php if ($typeCount): ?>
            <a class="result-link" href="#types"><?php echo $typeCount ?> types</a>
        <?php else: ?>
            <?php echo $typeCount ?> types,
        <?php endif ?>
    <?php endif ?>
</p>
<?php if($classCount): ?>
<div class="row">
    <div class="col-sm-12">
        <a class="anchor" name="classes"></a>
        <h1>Matched classes</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover class-table">
                <thead>
                    <tr class="cell-highlight">
                        <th>Class</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->results['classes'] as $class): ?>
                        <tr>
                            <td>
                                <a href="?class=<?php echo $class ?>">
                                    <?php echo $class ?>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<?php endif ?>
<?php if($propertyCount): ?>
    <div class="row">
        <div class="col-sm-12">
            <a class="anchor" name="properties"></a>
            <h1>Matched properties</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-hover class-table">
                    <thead>
                    <tr class="cell-highlight">
                        <th>Property</th>
                        <th style="width: 80%">Domain</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach($this->results['properties'] as $property => $data): ?>
                        <tr>
                            <td>
                                <?php echo $property ?>
                            </td>
                            <td>
                                <?php foreach($data as $domain): ?>
                                <a href="?class=<?php echo $domain?>#<?php echo $property ?>">
                                    <?php echo $domain ?>
                                </a>
                                <?php endforeach ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<?php endif ?>
<?php if(count($this->results['types'])): ?>
    <div class="row">
        <div class="col-sm-12">
            <a class="anchor" name="types"></a>
            <h1>Matched types</h1>
            <div class="table-responsive">
                <table class="table table-bordered table-condensed table-hover class-table">
                    <thead>
                    <tr class="cell-highlight">
                        <th>Type</th>
                        <th style="width: 80%">Domain</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach($this->results['types'] as $type => $places): ?>
                        <tr>
                            <td>
                                <?php echo $type ?>
                            </td>
                            <td>
                                <?php foreach($places as $data): ?>
                                    <a href="?class=<?php echo $data['class']?>#<?php echo $data['property'] ?>">
                                        <?php echo $data['class']?>#<?php echo $data['property'] ?>
                                    </a>
                                <?php endforeach ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<?php endif ?>
<?php $this->inlineScript()->captureStart();?>
$('.result-link').on('click', function() {
    event.preventDefault();
    window.location.replace($(this).attr('href'));
});

<?php $this->inlineScript()->captureEnd();?>


