<?php
$this->headLink()
    ->prependStylesheet('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    ->prependStylesheet('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

$this->inlineScript()
    ->prependFile('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    ->prependFile('https://code.jquery.com/jquery-2.1.4.min.js');
?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <?php echo $this->headTitle('schema.laji.fi')->setSeparator(' - ')->setAutoEscape(true) ?>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <?php echo $this->headMeta(); ?>
    <?php echo $this->headLink(); ?>
    <style>
        body { padding-top: 80px; }
        .app { display: flex; min-height: 100vh; flex-direction: column; }
        .app-content { flex: 1; }
        .navbar-red
        {
            background-color: #a00; border-color: #500;
        }
        .navbar-red .navbar-brand, .navbar-red .navbar-nav>li>a
        {
            color: #eee;
        }
        .navbar-red .navbar-nav>li>a:hover, .navbar-red .navbar-nav>li>a:focus
        {
            color: #fff; background-color: transparent
        }
        .navbar-red .navbar-toggle {
           border-color:  #800;
        }
        .btn-red {
            color: #fff;
            background-color: #c00;
            border-color: #900;
        }
        .btn-red:hover, .btn-red:focus, .btn-red:active {
            color: #fff;
            background-color: #c00;
            border-color: #900;
        }
        .cell-highlight {
            background-color: #eee;
            font-weight: bold;
        }
        .target-highlight {
            background: #fff073;
        }
        .anchor {
            display: block;
            position: relative;
            top: -60px;
            visibility: hidden;
        }
    </style>
</head>
<body class="app">
    <header class="app-header">
        <nav class="navbar navbar-red navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>">
                        Schema.laji.fi
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/docs">
                                <i class="fa fa-book"></i> Classes
                            </a>
                        </li>
                    </ul>
                    <div class="form-group form-group-sm">
                        <div class="col-sm-3 col-md-3 pull-right">
                            <form class="navbar-form" role="search" action="/docs">
                                <div class="input-group">
                                    <input type="text" class="form-control " placeholder="Search" name="q" id="q">
                                    <div class="input-group-btn">
                                        <button class="btn btn-red btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="app-content">
        <main class="container">
            <?php echo $this->content ?>
        </main>
    </div>

    <?php echo $this->inlineScript(); ?>
</body>
</html>
